@charset "utf-8";

main {
    line-height: 1.8;
}

input {
    width: 90vw;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

button.small {
    width: 44vw;
}

svg {
    margin-top: 2ex;
    border: 1px solid gray;
    width: 90vw;
    height: 90vw;
}

footer {
    margin: 5ex 0ex 10ex;
}

@media (orientation: landscape) {

    main {
        line-height: 1.5;
    }

    input {
        width: 90vh;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    button.small {
        width: auto;
    }

    svg {
        width: 90vh;
        height: 90vh;
    }

    @media (min-width: 768px) {

        #pattern {
            width: 300px;
        }

        svg {
            width: 300px;
            height: 300px;
        }

    }

}

