@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

input {
    width: 90vw;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

button.small {
    width: 44vw;
}

svg {
    margin-top: 2ex;
    border: 1px solid gray;
    width: 90vw;
    height: 90vw;
}

footer {
    margin-top: 5ex;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    input {
        width: 70vh;
    }

    button {
        width: auto;
    }

    button.small {
        width: auto;
    }

    svg {
        width: 70vh;
        height: 70vh;
    }

}

